*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
    outline:none;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    list-style: none;
}


/* setting: body-main-html*/
html{
    scroll-behavior: smooth;
    
    
}

body::-webkit-scrollbar{
    background: none;
    width: 0px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(231, 158, 21);
    width: 0px;
}

body{
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url(img/s.jpg);
    color: aliceblue;

}

#asd{
    
    display: flex;
    flex-direction: row;
    background: #0000003f;
    backdrop-filter: blur(6px);
    justify-content: space-around;
    align-items: center;
    

}
.section-zero-form{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 700px;
    
}
input{
    color: rgb(255, 249, 249);
    width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    border-bottom: rgba(231, 158, 21, 0) 2px solid;
}

.zero-section-input-text{
    color: aliceblue;
}

input:focus{
    
    border-bottom: rgb(231, 158, 21) 2px solid;
    color: rgb(255, 249, 249);
    width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;

}

input::placeholder{
    color: aliceblue;
}
.section-zero-submit{
    padding: 23px;
    background:rgba(231, 158, 21, 0.849)  ;
    
    
}
.section-zero-submit .material-symbols-outlined{
    font-size: 35px; 
    color: aliceblue;
    font-weight: bold;
    
}

.zero-section-logo{
    font-size: 30px;
    font-weight: bold;
}

#section-zero-ico .material-symbols-outlined{
    font-weight: bold;
    font-size: 35px; 
}
/*--------------------------------------*/

#section_block_one {

   /* clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);*/
    padding-top: 100px;

    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-weight: bold;
    height: 25.5cm;
   
}

.section_block_one_column_one{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 400px;
    background: #0000003f;
    backdrop-filter: blur(6px);
    margin: 100px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-top: 30px;
    align-items: center;
    justify-content:space-evenly
}

#section_one_column_grado{
    font-size: 120px;
    color: aliceblue;
    font-weight: bold;
}

#section_block_one_column_one_row_02{
    display: flex;
    flex-direction: column;
}

#container{
    width: 200px;
    padding-bottom: 10px;
}

#ciudad{
    font-size: 60px;
    font-weight: normal;
}

#section_block_one_column_one_row_03{
    display: flex;
    flex-direction: column;
}

.img_weather img{
    display: inline-block;
    width: 100px;
    height: 100px;
}



/*---------------Segundo bloque configuracion------------------------*/

.section_block_one_column_two{
    display: flex;
    flex-direction: column;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #0808083f;
    backdrop-filter: blur(6px);
    width: 800px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;

}

/*Titulo del segundo bloque*/

.section_block_one_column_two_title{
    font-weight: bold;
    font-size: 20px;
}


/*Bloque de las caracteristicas del clima*/

.section_block_one_column_two_block_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: normal;
    color: aliceblue;
}


/*Clima extendido*/

.section_block_one_column_three_block_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    color: aliceblue;
}
.section_block_one_column_three_title{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.section_block_one_column_three_block_row_clima{
    display: flex;
    align-items: center;
    font-weight: normal;
    color: aliceblue;
}

